

.profilePic {
    width:20%;
    border-radius:50%;
}
 
.frame {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 2rem;
}

.skillContainer {
    max-width:70%;
}


.aboutHeader {
    padding-top:2rem;
}

.aboutP {
    width:60%;
    margin: 1rem;
}

.skillTitle {
    text-align:center;
    padding-top:1rem;
}

.skill {
    margin:1rem;
    text-align:center;
    color:white;
    font-family: var(--body-font);
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.skill span {
    background-color:var(--primary);
    border-radius:30px;
    padding: 10px 20px 10px 20px;
    margin:5px;
    white-space: nowrap;
}

.courses li::before {
    content: "\2022";   
    color: rgb(1, 70, 67); 
    font-weight: bold;
    display: inline-block; 
    width: 1rem; 
    margin-left: -1em; 
}


@media screen and (max-width: 500px) {
    .profilePic {
        width:50%;
        border-radius:50%;
    }
}
