@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat&family=Poppins&display=swap');

.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-boz;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; 
}


body {
  background: #eeeeee;
}


h1, h2, h3, a {
  color: rgb(1, 70, 67);
  text-decoration: none;
}

p, li {
  font-size:18px;
  text-align: left;
}

ul {
  list-style-type: none;
}

.presentation{
  position: relative; width: 80%; height: 0; padding-top: 56.2500%;
  padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
  margin-bottom: 0.9em; overflow: hidden;
  border-radius: 8px; will-change: transform;
  margin-left:auto;
  margin-right:auto;
}

iframe {
  position: absolute; width: 100%; height: 100%; 
  top: 0; left: 0; border: none; padding: 0; margin: 0;
}



/*  font-family: 'Cormorant Garamond', serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif; */