.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index:3;
    display:flex;
    justify-content: space-between;
    padding: 1rem 1rem 0rem 1rem;
    background-color: rgba(242, 239, 248, 0.775);
}

#logo {
    padding-left:1rem;
}

#projects-button {
    background:none;
    border:none;
    color:var(--primary);
    font-size: 1.2rem;
    font-weight:500;
    padding:0px;
    height:50px;
}

.nav-menu{
    display: flex;
    align-items:center;
}

.nav-menu li {
    /* top and bottom padding = 0, left and right padding = 1 */
    padding: 0 1rem;

}

.nav-menu li a{
    font-size: 1.2rem;
    font-weight:500;
}

#resume_button{
    color:rgb(255, 255, 255);
    background:rgb(1, 70, 67);
    padding:20px;
    border-radius: 10px;
}

/* make hbg menu invisible until we make screen smaller */
.hamburger {
    display: none;
}

/* navbar items collapse to one column when width is under 1040px */
@media screen and (max-width: 1040px) {
    .header {
        position:static;
    }

    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* 100% of the viewport height */
        height: 100vh; 
        background: rgba(0,0,0,0.9);
        position: absolute;
        top: -100%;
        /* moves menu completely off screen until hamburger menu is opened */
        left: 0px;
        /* z-index = stack order*/
        z-index: 1;
        transition: 0.3s;
    }

    /* Fit menu back on screen when hamburger menu is opened */
    .nav-menu.active {
        top: 0;
    }

    .nav-menu li {
        padding: 1rem;
        margin:0.5rem;
        border-radius:10px;
        text-align:center;
        background-color:white;
    }

    .nav-item {
        background-color:white;
        min-width: 100px;
    }

    .nav-menu li a{
        font-size: 1rem;
    }

    #projects-button {
        font-size: 1rem;
    }

    .hamburger {
        display: initial;
        z-index:1;
    }
}