
h1, h2, h3 {
    text-align:center;
}

.imgSketch {
    max-height:10%;
    width:auto;
    padding:1rem;
}

.imgDesc{
    max-width:50%;
    border-radius:25px;
}

.imgPrototype {
    max-width:90%;
    border-radius:25px;
}

.imgWrapper {
    display:flex;
    justify-content:center;
}

.subtext {
    text-align:center;
}

.listWrapper {
    display:flex;
    justify-content:center;
}

.projectUl {
    list-style-type: circle;
}

.projectWrapper {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin: 4rem;
}

.projectDescription{
    margin-left:170px;
    margin-right:170px;
    text-align: left;
    font-size:16px;
    padding: 1rem;
}

.subsection {
    padding:1rem;
}

.headerPic{
    width:45%;
    padding:2rem;
}
 
.demoVideo{
    position:relative;
    width:100%;
    padding-bottom: 56.25%;
    height:0;
}
.demoVideo iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.demo{
    position:relative;
    width:100%;
    padding-bottom: 56.25%;
    height:0;
}
.demo iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.demoButton {
    border-width:1px;
    color:#fff;
    border-color:rgb(0, 39, 37);
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    background:rgb(1, 70, 67);
    padding: 0.5rem 1rem;
}


@media screen and (max-width: 1040px) {
    .projectDescription{
        margin-left:10px;
        margin-right:10px;
        text-align:center;
    }

    h4 {font-size:20px;}
    p{font-size:18px;}
}

@media screen and (min-width: 1540px){
    .projectDescription{
        color:red;
    }
}